<body>
    <header class="header">
        <a href="#home" class="logo">Manesh <span>Yadav</span></a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#experience">Experience</a>
            <a href="#projects">Projects Worked</a>
            <a href="#education">Education</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>
    <section class="home" id="home">
        <div class="home-content">
            <h1>Hello <span>I’m Manesh</span></h1>
            <h3 class="text-animation">a &nbsp;<span></span></h3>
            <p>with expertise in .NET, 
                Angular, and SQL. I enjoy turning ideas into easy-to-use applications
                . I love making ideas into polished, user-friendly applications.</p>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/manishyadav2329/"><i class='bx bxl-linkedin-square'></i></a>
                <a href="https://www.instagram.com/manishyadav_2329"><i class='bx bxl-instagram'></i></a>
                <a href="https://www.facebook.com/profile.php?id=100013526718652"><i class='bx bxl-facebook-circle'></i></a>
                <!-- <a href="#"><i class='bx bxl-twitter'></i></a> -->
            </div>
            <div class="btn-group">
                <a  href="#contact" class="btn">Hire</a>
                <a  href="#contact" class="btn">Contact</a>
            </div>
        </div>
            <div class="home-img">
                <img src="assets/myimage.jpg" alt="">
            </div>
        
    </section>
    <section class="services" id="experience">
        <h2 class="heading">Skills & Experience</h2>
        <div class="services-container">
            <div class="service-box">
                <div class="service-info">
                    <h4>Front End Development</h4>
                    <p>Proficient in Angular, TypeScript, HTML, CSS and Experience with
                         component-based architecture and state management (RxJS)</p>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Back End Development</h4>
                    <p>Skilled in C# and ASP.NET Core for building RESTful APIs.
                        Familiar with authentication JWT and authorization.
                    </p>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Database Management</h4>
                    <p>Able to work with Microsoft SQL Server.
                    </p>
                </div>
            </div>
            <div class="service-box">
                <div class="service-info">
                    <h4>Version Control</h4>
                    <p>good at using Git and GitHub for collaborative development.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials" id="projects">
        <div class="testimonials-box">
            <h2 class="heading">Projects Worked</h2>
            <div class="wrapper">
                <div class="testimonials-item">
                    <img src="assets/img11.svg" alt="">
                    <h2>Enterprise Application</h2>
                    <!-- <div class="rating">
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                        <i class='bx bxs-star' id="star"></i>
                    </div> -->
                    <p class="porject-paragrap">An enterprise application integrating procurement, employee management,
                         CRM, and order storage streamlines organizational operations. It facilitates
                          efficient procurement processes, manages employee data effectively, enhances 
                          customer relationship management, and optimizes order storage and retrieval. 
                          This comprehensive solution ensures seamless coordination across departments, enhances productivity,
                         and improves customer satisfaction through streamlined operations and data-driven insights.</p>
                </div>
                <div class="testimonials-item">
                    <img src="assets/img22.svg" alt="">
                    <h2>Pushpak.AI</h2>
                    <div class="rating">
  
                    </div>
                    <p class="porject-paragrap">A company specializing in monitoring footage and violations typically 
                        provides comprehensive surveillance and compliance solutions. They utilize 
                        advanced technology to capture and analyze video footage from various sources, 
                        such as CCTV cameras or specialized sensors. This allows them to monitor areas 
                        for compliance with regulations, safety standards, or operational protocols.</p>
                </div>
                <div class="testimonials-item">
                    <img src="assets/img33.svg" alt="">
                    <h2>ITCRODTEP</h2>
                    <div class="rating">
  
                    </div>
                    <p> The application is designed to track transactions and manage GST details seamlessly.
                         It facilitates the uploading and downloading of files related to financial transactions 
                         and GST compliance. Users can input transaction data, monitor GST filings, and manage
                          document uploads effortlessly. The application ensures compliance with tax regulations
                           by providing tools for data analysis and reporting. </p>
                </div>
            </div>
        </div>
    </section>
    <section class="education" id="education">
        <h2 class="heading">Education</h2>
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                    <div class="timeline-date">2023</div>
                    <div class="timeline-content">
                        <h3>Sathya Technologies</h3>
                        <p>I had done my course on dot net full stack</p>
                    </div>
                
            </div>
        </div>
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                    <div class="timeline-date">2022</div>
                    <div class="timeline-content">
                        <h3>JNTUH</h3>
                        <p>Completed my Engineering in specilization of Civil Engineering</p>
                    </div>
                
            </div>
        </div>
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                
                    <div class="timeline-date">2019</div>
                    <div class="timeline-content">
                        <h3>SBTET</h3>
                        <p>Completed Diploma in Civil Engineering </p>
                    </div>
                
            </div>
        </div>
        <div class="timeline-items">
            <div class="timeline-item">
                <div class="timeline-dot"></div>
                    <div class="timeline-date">2016</div>
                    <div class="timeline-content">
                        <h3>Kendriya Vidyalaya Sangathan</h3>
                        <p>Completed my High School</p>
                    </div>
            </div>
        </div>
    </section>
    <section class="contact" id="contact">
        <h2 class="heading">Contact<span>Me</span></h2>
        <form [formGroup]="signupForm" (ngSubmit)="saveStudent()" >
          <div class="input-group">
            <div class="input-box">
              <input type="text" placeholder="Full Name" formControlName="fullName">
              <div *ngIf="isSubmitted || formControls['fullName']?.invalid && (formControls['fullName']?.dirty || formControls['fullName']?.touched)">
                <small *ngIf="formControls['fullName']?.errors?.['required']">Full Name is required.</small>
                <small *ngIf="formControls['fullName']?.errors?.['pattern']">Full Name can only contain letters and spaces.</small>
              </div>
              <input type="email" placeholder="Email" formControlName="email">
              <div *ngIf=" isSubmitted || formControls['email']?.invalid && (formControls['email']?.dirty || formControls['email']?.touched)">
                <small *ngIf="formControls['email']?.errors?.['required']">Email is required.</small>
                <small *ngIf="formControls['email']?.errors?.['email']">Please enter a valid email address.</small>
              </div>
            </div>
            <div class="input-box">
              <input type="number" placeholder="Phone Number" formControlName="phoneNumber">
              <div *ngIf="isSubmitted || formControls['phoneNumber']?.invalid && (formControls['phoneNumber']?.dirty || formControls['phoneNumber']?.touched)">
                <small *ngIf="formControls['phoneNumber']?.errors?.['required']">Phone Number is required.</small>
                <small *ngIf="formControls['phoneNumber']?.errors?.['pattern']">Phone Number must be between 10 and 15 digits.</small>
              </div>
              <input type="text" placeholder="Subject" formControlName="subject">
              <div *ngIf=" isSubmitted || formControls['subject']?.invalid && (formControls['subject']?.dirty || formControls['subject']?.touched)">
                <small *ngIf="formControls['subject']?.errors?.['required']">Subject is required.</small>
              </div>
            </div>
          </div>
          <div class="input-group-2">
            <textarea cols="30" rows="10" placeholder="Your Message" formControlName="message"></textarea>
            <div *ngIf=" isSubmitted || formControls['message']?.invalid && (formControls['message']?.dirty || formControls['message']?.touched)">
              <small *ngIf=" formControls['message']?.errors?.['required']">Your Message is required.</small>
            </div>
            <button type="submit" class="btn" (click)="onSubmit()">Send Message</button>
          </div>
        </form>
        
        <div class="container">
          <h1>Download Resume</h1>
          <button class="download-button" (click)="downloadPDF()">Download</button>
        </div>
        
        
    </section>
    <footer class="footer">
        <div class="social">
            <a href="https://www.linkedin.com/in/manishyadav2329/"><i class='bx bxl-linkedin-square'></i></a>
            <a href="https://www.instagram.com/manishyadav_2329"><i class='bx bxl-instagram'></i></a>
            <a href="https://www.facebook.com/profile.php?id=100013526718652"><i class='bx bxl-facebook-circle'></i></a>
            <!-- <a href="#"><i class='bx bxl-twitter'></i></a> -->
        </div>
        <ul class="list">
            <li>
                <a href="#">About Me</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </footer>
    <script src="script.js"></script>
  </body>